[submodule ".janus/tabular"]
	path = .janus/tabular
	url = https://github.com/godlygeek/tabular
[submodule ".janus/vim-indent-guides"]
	path = .janus/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule ".janus/distinguished"]
	path = .janus/distinguished
	url = git://github.com/Lokaltog/vim-distinguished.git
[submodule ".janus/jellybeans.vim"]
	path = .janus/jellybeans.vim
	url = git://github.com/nanotech/jellybeans.vim.git
[submodule ".janus/swap-parameters"]
	path = .janus/swap-parameters
	url = git://github.com/vim-scripts/swap-parameters.git
[submodule ".janus/python-syntax"]
	path = .janus/python-syntax
	url = https://github.com/hdima/python-syntax.git
[submodule ".janus/vim-colors-solarized"]
	path = .janus/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".janus/mayansmoke"]
	path = .janus/mayansmoke
	url = https://github.com/vim-scripts/mayansmoke.git
[submodule ".janus/python-mode"]
	path = .janus/python-mode
	url = git://github.com/klen/python-mode.git
[submodule ".janus/base16-vim"]
	path = .janus/base16-vim
	url = https://github.com/chriskempson/base16-vim
[submodule ".janus/vim-airline"]
	path = .janus/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".janus/vim-l9"]
	path = .janus/vim-l9
	url = https://github.com/cfurrow/vim-l9.git
[submodule ".janus/terminalkeys.vim"]
	path = .janus/terminalkeys.vim
	url = https://github.com/nacitar/terminalkeys.vim.git
[submodule ".janus/indentLine"]
	path = .janus/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule ".janus/vim-virtualenv"]
	path = .janus/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv.git
[submodule ".janus/delimitMate"]
	path = .janus/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule ".janus/YouCompleteMe"]
	path = .janus/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule ".janus/tern_for_vim"]
	path = .janus/tern_for_vim
	url = git@github.com:marijnh/tern_for_vim.git
